<div class="listmovies__container">
        <h4 class="listmovies--title">Popular Movies</h4>
        <div class="list-movies keen-slider" #sliderRef>
          <div
            class="card-movies keen-slider__slide"
            style="background-image: url(../../../assets/imgs/card-img1.jpg)"
          >
            <p class="card-movies-btn">Watch</p>
            <div class="card-des">
              <p class="card-point">7.7</p>
              <p class="card-year">2023</p>
              <p class="card-name">The Super Mario Bros. Movie</p>
            </div>
          </div>
          <div
            class="card-movies keen-slider__slide"
            style="background-image: url(../../../assets/imgs/card-img1.jpg)"
          >
            <p class="card-movies-btn">Watch</p>
            <div class="card-des">
              <p class="card-point">7.7</p>
              <p class="card-year">2023</p>
              <p class="card-name">The Super Mario Bros. Movie</p>
            </div>
          </div>
          <div
            class="card-movies keen-slider__slide"
            style="background-image: url(../../../assets/imgs/card-img1.jpg)"
          >
            <p class="card-movies-btn">Watch</p>
            <div class="card-des">
              <p class="card-point">7.7</p>
              <p class="card-year">2023</p>
              <p class="card-name">The Super Mario Bros. Movie</p>
            </div>
          </div>
          <div
            class="card-movies keen-slider__slide"
            style="background-image: url(../../../assets/imgs/card-img1.jpg)"
          >
            <p class="card-movies-btn">Watch</p>
            <div class="card-des">
              <p class="card-point">7.7</p>
              <p class="card-year">2023</p>
              <p class="card-name">The Super Mario Bros. Movie</p>
            </div>
          </div>
          <div
            class="card-movies keen-slider__slide"
            style="background-image: url(../../../assets/imgs/card-img1.jpg)"
          >
            <p class="card-movies-btn">Watch</p>
            <div class="card-des">
              <p class="card-point">7.7</p>
              <p class="card-year">2023</p>
              <p class="card-name">The Super Mario Bros. Movie</p>
            </div>
          </div>
          <div
            class="card-movies keen-slider__slide"
            style="background-image: url(../../../assets/imgs/card-img1.jpg)"
          >
            <p class="card-movies-btn">Watch</p>
            <div class="card-des">
              <p class="card-point">7.7</p>
              <p class="card-year">2023</p>
              <p class="card-name">The Super Mario Bros. Movie</p>
            </div>
          </div>
        </div>
      </div>
