<div class="banner__container">
        <div class="keen-slider" #sliderRef>
          <div
            class="keen-slider__slide number-slide1 item-slider"
            style="background-image: url(../../../assets//imgs/img1.jpg)"
          >
            <div class="bg-banner"></div>
            <div class="content-slider">
              <div class="content-slider-right">
                <h1 class="content-slider-title" >The Super Mario Bros. Movie</h1>
                <div class="categories-point">
                  <p class="point">6.5</p>
                  <div class="categories-banner" >
                    <p>Animation</p>
                    <p>Family</p>
                    <p>Adventure</p>
                  </div>
                </div>
                <div class="des-banner">
                  While working underground to fix a water main, Brooklyn plumbers—and
                  brothers—Mario and Luigi are transported down a mysterious pipe and
                  wander into a magical new world. But when the brothers are
                  separated, Mario embarks on an epic quest to find Luigi.
                </div>
                <div class="button-watch-banner"><a href="/movies/1">Watch</a></div>
              </div>
              <div class="content-slider-left">
                <img src="../../../assets//imgs/img1.jpg" alt="" />
              </div>
            </div>
          </div>
          <div
            class="keen-slider__slide number-slide2 item-slider"
            style="background-image: url(../../../assets//imgs/img2.jpg)"
          >
            2
          </div>
          <div
            class="keen-slider__slide number-slide3 item-slider"
            style="background-image: url(../../../assets//imgs/img3.jpg)"
          >
            3
          </div>
          <div
            class="keen-slider__slide number-slide4 item-slider"
            style="background-image: url(../../../assets//imgs/img4.jpg)"
          >
            4
          </div>
          <div
            class="keen-slider__slide number-slide5 item-slider"
            style="background-image: url(../../../assets//imgs/img5.jpg)"
          >
            5
          </div>
        </div>
      </div>
      
