<div class="movies__container">
    <div class="movies-option">
      <li class="movies-option-item"><a href="">popular</a></li>
      <li class="movies-option-item"><a href="">now playing</a></li>
      <li class="movies-option-item"><a href="">upcoming</a></li>
      <li class="movies-option-item"><a href="">top rated</a></li>
    </div>
  
    <div class="movies--content">
      <div class="list-movies">
        <div
          class="card-movies"
          style="background-image: url(
           ../../../assets/imgs/card-img1.jpg)"
        >
          <div class="bg-card"></div>
          <p class="card-movies-btn"><a routerLink="/movies/1">Watch</a></p>
          <div class="card-des">
            <p class="card-point">6</p>
            <p class="card-year">2023</p>
            <p class="card-name">Movies 1</p>
          </div>
        </div>
        <div
     
        class="card-movies"
        style="background-image: url(
         ../../../assets/imgs/card-img1.jpg)"
      >
        <div class="bg-card"></div>
        <p class="card-movies-btn"><a routerLink="/movies/1">Watch</a></p>
        <div class="card-des">
          <p class="card-point">6</p>
          <p class="card-year">2023</p>
          <p class="card-name">Movies 1</p>
        </div>
      </div>
      </div>
      
    </div>
    <div class="load-more">
      <button>Load Moreee</button>
    </div>
  </div>
  